#sidebar,
#content {
  padding-top: 80px;
  color: #24292e;
}

#sidebar {
}

#navbar {
  background-color: #242a2e;
  padding-top: 8px;
  padding-bottom: 8px;
}

#navbar > .item {
  color: #fff;
}

.ui.label.basic.bn {
  border-style: none;
}
